
        h1 {
        color: orange;
        background-color: slategray;
        font-size: 30px;
        text-decoration: none;
        font-family: arial;
        text-align: center;
        }
        p{
            color: slategray;
            text-align: right;
            line-height: 30px;
            letter-spacing: 3px;
            column-count: 2;
            column-gap: 60px;
        }
        ul{
            border-bottom: 4px dotted crimson;
            border-left: 8px dashed green;
        }
        li{
            list-style-type: none;
            text-shadow: 2px 2px lightgray;
        }
        footer{
            color: blue;
            text-align: center;
            background-color: brown;
            font-size: 60px;
        }